@import "reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kalam&family=Teko:wght@700&display=swap');

body {
    background: url(../img/bgsang.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.foto {
    background-color: #fff;
    padding: 2px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: -2px;
    border-radius: 20px 20px 0px 20px;
    overflow: hidden;
}

.foto-text {
    margin: -1px -4px 0px auto;
    font-size: 10px;
    font-family: 'Kalam', cursive;
    text-align: center;
    background: #fff;
    max-width: 100px;
    padding: 5px;
    position: relative;
    color: #000;
    z-index: 2;
    border-radius: 0px 0px 10px 10px;
    span {
        font-size: 12px;
        white-space: nowrap;
        color: #8a500e;
        font-weight: 600;
    }
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 20px;
}


.header {

    &__inner {
        padding: 50px 0px;
    }
}

.menu {

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        font-size: 20px;
        perspective: 400px;
    }

    &__link {
        display: inline-block;
        font-size: 15px;
        line-height: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #fff;
        text-decoration: none;
        background-color: #cc7410;
        padding: 10px;
        border-radius: 5px;
        transform: rotateX(30deg);
        border-bottom: 5px solid #aa671b;
        border-right: 5px solid #aa671b;
        border-left: 5px solid #aa671b;
        box-shadow: 0px 0px 6px 5px #cc7410;
        position: relative;
        pointer-events: none;
        /* &::before {
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            top: -3px;
            left: -61px;
            background-image: url(../img/Icons/arrow.svg);
            background-size: cover;
            transform: rotateY(180deg);
        } */
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            top: -1px;
            right: -60px;
            background-image: url(../img/Icons/arrow.svg);
            background-size: cover;
            pointer-events: visible;
        }
    }
}





.sang {

    &__inner {
        padding-bottom: 50px;
    }

    &__card-foto {
        padding: 50px 0px 100px 0px;
        text-align: center;
    }

    &__title {
        color: #c48608;
        font-size: 50px;
        line-height: 50px;
        font-family: 'Teko', sans-serif;
        font-weight: 700;
    }

    &__subtitle {
        color: #c48608;
        font-size: 50px;
        line-height: 100px;
        font-style: italic;
        font-family: 'Dancing Script', cursive;
    }

    &__foto {
        margin-top: 50px;
    }

    &__item-foto-gold {
        display: flex;
        justify-content: center;
        
    }

    &__item-foto-inner-gold {
        max-width: 500px;
        max-height: 350px;
    }

    &__foto-gold {
        box-shadow: 0px 0px 100px gold;
    }


	&__item-foto-silver {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        flex-wrap: wrap;
	}

    &__item-foto-inner-silver {
        max-width: 400px;
        max-height: 230px;
        margin: 100px 5px 0px 10px;
    }

	&__foto-silver {
        box-shadow: 0px 0px 100px #c2c2c2;
	}

	&__item-foto-bronza {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        flex-wrap: wrap;
	}

	&__item-foto-inner-bronza {
        max-width: 300px;
        max-height: 200px;
        margin: 100px 5px 0px 10px;
	}

	&__foto-bronza {
        box-shadow: 0px 0px 100px #734d00;
	}

	&__item-foto-simple {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        flex-wrap: wrap;
	}


	&__item-foto-inner-simple {
        max-width: 250px;
        max-height: 150px;
        margin: 50px 5px 0px 10px;
	}

	&__foto-simple {
        
	}

	&__link-web {
        display: flex;
        justify-content: space-between;
	}

    &__link-web-inner-1 {
        visibility: hidden;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            top: -18px;
            left: 0;
            background-image: url(../img/Icons/arrow.svg);
            background-size: cover;
            transform: rotate(180deg);
            
        }
    }

    &__link-web-inner-2 {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            top: -18px;
            right: 0;
            background-image: url(../img/Icons/arrow.svg);
            background-size: cover;
            
        }
    }

	&__link-back {
        visibility: hidden;
        display: inline-block;
        padding-left: 55px;
        transform: skew(23deg, 0deg);
	}

	&__link-next {
        padding-right: 55px;
        position: relative;
        z-index: 1;
	}

    .link-web {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Kalam', cursive;
    }

}


.andrew-bennet {
    max-width: 120px;
}

.evgeniy-batonovich {
    max-width: 140px;
}

.andrew-bacardi {
    max-width: 120px;
}

.alexandro-escobar {
    max-width: 130px;
}

.enzo-higgins {
    max-width: 110px;
}

.leopold-kuang {
    max-width: 110px;
}

.kristofer-higgins {
    max-width: 130px;
}

.sanya-zhurbik {
    max-width: 110px;
}
